<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.2/css/bootstrap.min.css">
<<<<<<< HEAD
<link rel="stylesheet" href="style.css">
=======
<link rel="stylesheet" href="/static/menu_centralizado.css">
>>>>>>> parent of 586b014 (Ué)

<title>Atividade Revisão</title>
<style>


</style>