@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

    body {
        min-width: 320px;
        min-height: 240px;
        background-color: #f8f9fa;
        margin: 0px auto;
        padding: 0px auto;
        border: 5px solid rgb(0, 0, 0);
        border-radius: 5vw;
        font-size: 24px;
        padding-top: 50px;
        /* height: 100vh; */
        background: linear-gradient(-45deg, #49413e, #496399, #4b645d, #9ca381);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;

    }



    .comment-section {
    background-color: #282c34;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.comment-list {
    list-style-type: none;
    padding: 0;
}

.comment-item {
    border: 1px solid #495057;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 10px;
}

.comment-user {
    color: #61dafb;
}

.comment-content {
    color: #fff;
}

.no-comments {
    color: #fff;
}

.comment-form {
    margin-top: 20px;
}

.comment-textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #495057;
    border-radius: 8px;
}

.comment-button {
    background-color: #61dafb;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
